@*     This file is part of OAI-PMH-.Net.
*  
*      OAI-PMH-.Net is free software: you can redistribute it and/or modify
*      it under the terms of the GNU General Public License as published by
*      the Free Software Foundation, either version 3 of the License, or
*      (at your option) any later version.
*  
*      OAI-PMH-.Net is distributed in the hope that it will be useful,
*      but WITHOUT ANY WARRANTY; without even the implied warranty of
*      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*      GNU General Public License for more details.
*  
*      You should have received a copy of the GNU General Public License
*      along with OAI-PMH-.Net.  If not, see <http://www.gnu.org/licenses/>.
*----------------------------------------------------------------------------*@

@using FederatedSearch.API.MdFormats;
@model IEnumerable<SelectListItem>
@{
    ViewBag.Title = "Harvest Record";
    var disabled = true;
    if (Model.Count() > 0)
    {
        disabled = false;
    }

    var options = new AjaxOptions()
    {
        HttpMethod = "post",
        LoadingElementId = "waiting",
        LoadingElementDuration = 10,
        OnSuccess = "onSuccess"
    };

    var metadataFormats = FormatList.List;
}

<h2>Harvest record</h2>
<hr style="margin-top: 0px; padding-top: 0px;" />

@if (disabled)
{
    <p>Dataprovider list is empty. @Html.ActionLink("Add provider", "DataProvider", new { id = "Add" })</p>
}

@using (Ajax.BeginForm("Harvest", "Repository", new { id = "Record" }, options))
{
    <div id="failedAdding" style="display: none; color: red; font-weight: bold">
        <p>Adding failed!</p>
    </div>
    <div id="waiting" style="display: none; color: #66afe9; font-weight: bold">
        <p>Waiting for response...</p>
    </div>
    <br />
    <div class="panel panel-default">
        <table class="table">
            <tr>
                <td>Data provider:
                </td>
                <td>
                    @Html.DropDownList("baseURL", Model, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>Identifier:
                </td>
                <td>
                    @Html.TextBox("identifier", null, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>Metadata format:
                </td>
                <td>
                    <select class="form-control" @(metadataFormats.Count() == 0 ? "disabled" : "") 
                        name="metadataPrefix" >
                        <option value="">Select metadata prefix</option>
                        @foreach (var item in metadataFormats)
                        {
                            if(item.IsForList)
                            {
                                <option value="@(item.Prefix)">@(item.Prefix)</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Harvest file:
                </td>
                <td style="text-align: center;">
                    @Html.CheckBox("harvestFiles", true)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Harvest" class="btn oaiBtn btn-default form-control" @(disabled ? "disabled" : "") /></td>
            </tr>
        </table>
    </div>
}

<script type="text/javascript">

    function onSuccess(response) {
        if (!response.successfull) {
            $("#failedAdding").show("fast");
        }
        else {
            window.location.replace('@Url.Action("Metadata", "Home")/' + response.identifier);
        }
    }

</script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
