@*     This file is part of OAI-PMH-.Net.
*  
*      OAI-PMH-.Net is free software: you can redistribute it and/or modify
*      it under the terms of the GNU General Public License as published by
*      the Free Software Foundation, either version 3 of the License, or
*      (at your option) any later version.
*  
*      OAI-PMH-.Net is distributed in the hope that it will be useful,
*      but WITHOUT ANY WARRANTY; without even the implied warranty of
*      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*      GNU General Public License for more details.
*  
*      You should have received a copy of the GNU General Public License
*      along with OAI-PMH-.Net.  If not, see <http://www.gnu.org/licenses/>.
*----------------------------------------------------------------------------*@

@using FederatedSearch.Models;
@using FederatedSearch.API.MdFormats;
@{
    ViewBag.Title = "OAI-PMH response time test";
    var options = new AjaxOptions()
    {
        LoadingElementId = "waiting",
        LoadingElementDuration = 100,
        OnSuccess = "onSuccess"
    };

    var dataProviders = ViewBag.DataProviders as IEnumerable<OAIDataProvider> ?? new List<OAIDataProvider>();
    var metadataFormats = FormatList.List;
}

<h2>Test response times</h2>
<hr style="margin-top: 0px; padding-top: 0px;" />

@if (dataProviders.Count() < 1)
{
    <p>Dataprovider list is empty. @Html.ActionLink("Add provider", "DataProvider", "Repository", new { id = "Add" }, null)</p>
    <br />
}

@using (Ajax.BeginForm(options))
{
    <div class="row">
        <div class="col-md-2">
            <label>Data provider:</label>
        </div>
        <div class="col-md-10">
            <select id="dpList" name="BaseURL" class="form-control" @(dataProviders.Count() == 0 ? "disabled" : "") 
                style="width: calc(100% - 25px); margin: 0 0 8px 25px;">
                <option value="">Select data provider</option>
                @foreach (var item in dataProviders)
                {
                    <option value="@(item.BaseURL)">@(item.RepositoryName)</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label for="verbSelect">Action: </label>
            <div id="verbSelect" class="dropdown">
                <button id="verbBtn" class="btn dropdown-toggle form-control oaiBtn" name="Verb" data-toggle="dropdown" value="Verb">
                    Verb
                    <b class="caret" style="margin-left: 5px;"></b>
                </button>
                <ul class="dropdown-menu">
                    <li><a style="cursor: pointer" onclick="verbChanged('Identify')">Identify</a></li>
                    <li><a style="cursor: pointer" onclick="verbChanged('GetRecord')">GetRecord</a></li>
                    <li><a style="cursor: pointer" onclick="verbChanged('ListIdentifiers')">ListIdentifiers</a></li>
                    <li><a style="cursor: pointer" onclick="verbChanged('ListRecords')">ListRecords</a></li>
                    <li><a style="cursor: pointer" onclick="verbChanged('ListMetadataFormats')">ListMetadataFormats</a></li>
                    <li><a style="cursor: pointer" onclick="verbChanged('ListSets')">ListSets</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-10">
            <div id="fromCnt" class="cnt">
                <label>From: </label>
                @*<input type="datetime" class="form-control" oninput="changeQueryText()" data-name="from" />*@
                <div id="fromDateTime" class="cnt2 input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default oaiBtn add-on">
                            <i class="glyphicon" data-time-icon="glyphicon glyphicon-time" data-date-icon="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                    <input data-format="yyyy-MM-dd T HH:mm:ss Z" type="text"
                            class="form-control" oninput="changeQueryText()" data-name="from" />
                </div>
            </div>
            <div id="untilCnt" class="cnt">
                <label>Until: </label>
                @*<input type="datetime" class="form-control" oninput="changeQueryText()" data-name="until" />*@
                <div id="untilDateTime" class="cnt2 input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default oaiBtn add-on">
                            <i class="glyphicon" data-time-icon="glyphicon glyphicon-time" data-date-icon="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                    <input data-format="yyyy-MM-dd T HH:mm:ss Z" type="text"
                            class="form-control" oninput="changeQueryText()" data-name="until" />
                </div>
            </div>
            <div id="metaPrefixCnt" class="cnt">
                <label>Metadata prefix: </label>
                <select class="form-control" @(metadataFormats.Count() == 0 ? "disabled" : "") 
                    oninput="changeQueryText()" data-name="metadataPrefix" >
                    <option value="">Select metadata prefix</option>
                    @foreach (var item in metadataFormats)
                    {
                        if(item.IsForList)
                        {
                            <option value="@(item.Prefix)">@(item.Prefix)</option>
                        }
                    }
                </select>
            </div>
            <div id="setCnt" class="cnt">
                <label>Set: </label>
                <input type="text" class="form-control" oninput="changeQueryText()" data-name="set" />
            </div>
            <div id="resTokenCnt" class="cnt">
                <label>Resumption token: </label>
                <input type="text" class="form-control" oninput="changeQueryText()" data-name="resumptionToken" />
            </div>
            <div id="identifierCnt" class="cnt">
                <label>Identifier: </label>
                <input type="text" class="form-control" oninput="changeQueryText()" data-name="identifier" />
            </div>
        </div>
    </div>
    
    <br />
    <br />

    <div class="row">
        <div class="col-md-2">
            <label for="urlQuery">URL query: </label>
        </div>
        <div class="col-md-10">
            <input id="urlQuery" name="UrlQuery" type="text" class="form-control" style="margin-left: 25px; width: calc(100% - 25px);" />
        </div>
    </div>
    <br />

    <hr style="height: 5px;" />
    
    <br />
    <div class="clearfix">
    </div>
    
    <div class="row">
        <div class="col-md-2">
            <input id="startBtn" type="submit" value="Start" class="btn oaiBtn btn-default form-control" 
                @(dataProviders.Count() == 0 ? "disabled" : "") />
        </div>
        <div class="col-md-10">
            <div id="waiting" style="display: none; color: #66afe9; font-weight: bold">
                <p>Waiting for response...</p>
            </div>


            <div id="resultPanel" class="row-fluid" style="padding-left: 25px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row-fluid">
                            <label id="dp2Name" for="dp2Result"></label>
                            <label id="dp2Result"></label>
                        </div>
                        <div class="row-fluid">
                            <label for="dp1Result">Api: </label>
                            <label id="dp1Result"></label>
                        </div>
                        <div class="row-fluid">
                            <label for="ratioLabel">Ratio: </label>
                            <label id="ratioLabel"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="clearfix">
</div>

<div id="result"></div>



<script type="text/javascript">
    
    $(document).ready(function () {
        $('div[id="fromDateTime"], div[id="untilDateTime"]').each(function () {
            $(this).datetimepicker({
                language: 'en',
                pick12HourFormat: false
            }).on('changeDate', function (e) {
                var dtStr = $(this).children('input').val().replace(/ /g, '');
                $(this).children('input').val(dtStr);
                changeQueryText();
            });
        });
    });

    function onSuccess(response) {
        $("#dp1Result").text(response.ApiResult + "s");
        $("#dp2Name").text($('#dpList').find(":selected").text() + ": ");
        $("#dp2Result").text(response.DataProviderResult + "s");
        $("#ratioLabel").text(response.Ratio + " : 1");
    }

    function changeQueryText() {
        var str = '';

        if ($("#verbBtn").val() !== "Verb")
            str = "verb=" + $("#verbBtn").val() + "&";

        $('.cnt, .cnt2').each(function (index, object) {
            var obj = $(object);
            var child = $(obj.children()[1]);
            if (!obj.hasClass('hide') && child.val() !== '')
                str += child.data('name') + "=" + child.val() + '&';
        });

        if (str[str.length - 1] === '&')
            str = str.substr(0, str.length - 1);

        $('#urlQuery').val(str);
    }

    function setVerbButton(verb) {
        $("#verbBtn").text(verb);
        $("#verbBtn").val(verb);
        $("#verbBtn").append('<b class="caret" style="margin-left: 5px;"></b>');
    }

    function verbChanged(verb) {
        switch (verb) {
            case 'Identify':
                $('#fromCnt').addClass('hide');
                $('#fromDateTime').addClass('hide');
                $('#untilCnt').addClass('hide');
                $('#untilDateTime').addClass('hide');
                $('#metaPrefixCnt').addClass('hide');
                $('#setCnt').addClass('hide');
                $('#resTokenCnt').addClass('hide');
                $('#identifierCnt').addClass('hide');
                setVerbButton(verb);
                changeQueryText();
                break;
            case 'GetRecord':
                $('#fromCnt').addClass('hide');
                $('#fromDateTime').addClass('hide');
                $('#untilCnt').addClass('hide');
                $('#untilDateTime').addClass('hide');
                $('#metaPrefixCnt').removeClass('hide');
                $('#setCnt').addClass('hide');
                $('#resTokenCnt').addClass('hide');
                $('#identifierCnt').removeClass('hide');
                setVerbButton(verb);
                changeQueryText();
                break;
            case 'ListIdentifiers':
                $('#fromCnt').removeClass('hide');
                $('#fromDateTime').removeClass('hide');
                $('#untilCnt').removeClass('hide');
                $('#untilDateTime').removeClass('hide');
                $('#metaPrefixCnt').removeClass('hide');
                $('#setCnt').removeClass('hide');
                $('#resTokenCnt').removeClass('hide');
                $('#identifierCnt').addClass('hide');
                setVerbButton(verb);
                changeQueryText();
                break;
            case 'ListRecords':
                $('#fromCnt').removeClass('hide');
                $('#fromDateTime').removeClass('hide');
                $('#untilCnt').removeClass('hide');
                $('#untilDateTime').removeClass('hide');
                $('#metaPrefixCnt').removeClass('hide');
                $('#setCnt').removeClass('hide');
                $('#resTokenCnt').removeClass('hide');
                $('#identifierCnt').addClass('hide');
                setVerbButton(verb);
                changeQueryText();
                break;
            case 'ListMetadataFormats':
                $('#fromCnt').addClass('hide');
                $('#fromDateTime').addClass('hide');
                $('#untilCnt').addClass('hide');
                $('#untilDateTime').addClass('hide');
                $('#metaPrefixCnt').addClass('hide');
                $('#setCnt').addClass('hide');
                $('#resTokenCnt').addClass('hide');
                $('#identifierCnt').removeClass('hide');
                setVerbButton(verb);
                changeQueryText();
                break;
            case 'ListSets':
                $('#fromCnt').addClass('hide');
                $('#fromDateTime').addClass('hide');
                $('#untilCnt').addClass('hide');
                $('#untilDateTime').addClass('hide');
                $('#metaPrefixCnt').addClass('hide');
                $('#setCnt').addClass('hide');
                $('#resTokenCnt').removeClass('hide');
                $('#identifierCnt').addClass('hide');
                setVerbButton(verb);
                changeQueryText();
                break;
            default:
                $('#fromCnt').addClass('hide');
                $('#fromDateTime').addClass('hide');
                $('#untilCnt').addClass('hide');
                $('#untilDateTime').addClass('hide');
                $('#metaPrefixCnt').addClass('hide');
                $('#setCnt').addClass('hide');
                $('#resTokenCnt').addClass('hide');
                $('#identifierCnt').addClass('hide');
                break;
        }
    }
</script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui.min-1.11.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/bootstrap/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>
@Styles.Render("~/Content/bootstrap/bootstrap-datetimepicker.min.css")
